
/.contracts.OLD
/.vscode/
hhtest\.out
/hhtest*
/*.out
node_modules
# Hardhat files

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
artifacts/
hhtest.out
*.log
nohup.out

cache
.env

.e
.ua