[submodule "spCoinProdModule"]
	path = spCoinProdModule
	url = git@github.com:sponsorCoinAdmin/spCoinProdModule.git
[submodule "spCoinTestModule"]
	path = spCoinTestModule
	url = git@github.com:sponsorCoinAdmin/spCoinTestModule.git
[submodule "setupEnv"]
	path = setupEnv
	url = git@github.com:sponsorCoinAdmin/spCoinSetupEnv.git
[submodule "docs"]
	path = docs
	url = git@github.com:sponsorCoinAdmin/spCoinDocs.git
